body {
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.material-icons {
    background-color: whitesmoke;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: 32px;
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.content {
    height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

button{
    margin: 8px;
    padding: 8px;
    border: 0;
    border-radius: 6px;
    font-weight: 400;
    text-align: center;
    color: whitesmoke;
}

button.primary {
    background-color:purple;
}

button.secondary {
    background-color: blueviolet;
}

button.alternative {
    background-color: palevioletred;
}

button.default {
    background-color: darkolivegreen;
}

.title {
    background-color: rgba(245, 255, 250, 0.699);
    padding: 0;
    border-radius: 4px;
    flex-flow: row wrap;

    text-transform: uppercase;
    font-size: 2rem;
}

.title > h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

.hr-title {
    margin-top: 16px;
    width: 400px;
    height: 3px;
    background-color: white;
    border: 0;
}

.first-icon-row, .second-icon-row {
    text-align: center;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}